<div>
    <!--Welcome title-->
    <div ng-show="screenParams.screenTitle" class="center-text">
        <h3 class="digitel-title wrap"> {{screenParams.screenTitle}} </h3>
    </div>

    <div class="push-content">
        <!--Welcome image-->
        <div class="center-text welcome-background" ng-show="screenParams.welcomeMessage">
            <h2 class="thick wrap digitel-subtitle"> {{screenParams.welcomeMessage}} </h2>
        </div> 

        <hr class="digitel-separator"/>

        <!-- Login input -->
        <div class="dark-background text-center">
            <p class="pull-text wrap digitel-text" ng-show="screenParams.infoMessage"> {{screenParams.infoMessage}}</p>
            <!-- Username -->
            <label class="row item item-input digitel-input username-background"> 
                <div class="col col-offset-20 col-80">
                    <input type="text" class="digitel-input" data-ng-model="login.username" placeholder="{{'login_username' | translate}}" />
                </div>
            </label>
            <br/>
            <!-- Password -->
            <label class="row item item-input digitel-input pwd-background" >
                <div class="col col-offset-20 col-80">
                    <input type="password" data-ng-model="login.password" placeholder="{{'login_password' | translate}}" />
                </div>
            </label>
            <br/>
      
            <!-- Login button -->    
            <label class="row button item item-input digitel-input login-button-background"
                   data-ng-click="doLogin()">
                <div class="col col-80 text-right">
                   <p class="wrap login-button-text"> {{'login_login' | translate}} </p>
                </div>  
            </label>
       
        
            <!-- Optional clean fields button"-->
            <div class="row" ng-show="screenParams.clearSubmitButtons">
                <button class="button button-block button-positive" type="button" data-ng-click="clearFields()" 
                         translate="login_clear">
                </button>
            </div>

            <!--Optional forgot password -->
            <div class="center-text digitel-text forgotpwd-text " ng-show="screenParams.forgotPassword">
                <p class="wrap" ng-click="forgotPass()"> {{'login_forgot_password' | translate}} </p>
            </div>
          
            <!--Optional remember me toggle -->
            <div class="item item-toggle" ng-show="screenParams.rememberMe"> 
                {{'login_keep_session' | translate}}
                <label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="keepSession">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <!-- digitel footer -->
            <div class="center-text footer-background" ng-show = "screenParams.signUpMessage">
                <p class="thick wrap digitel-text footer-text"> {{screenParams.signUpMessage }} </p>
            </div> 

        </div> 
    </div>
</div>