<ion-view mz-screen view-title="{{ _screenParams.title | translate }}">
    <ion-content>
        <!--Welcome image-->
	    <img ng-src="{{_screenParams.welcomeResource}}" class="welcome-image full-image">
		<div class="push-content">
		<div class="input-background">
	       <form novalidate name="userForm">
		        <div class="item-input item-icon-right"> 
	                <input type="text" data-ng-model="login.username" name="username" required ng-pattern"_screenParams.usernameValidation" placeholder="{{'login_username' | translate}}" /> 
	   				<i class="icon ion-checkmark" ng-show="userForm.username.$valid"></i>
	                <i class="icon ion-close-round" ng-show="userForm.username.$invalid && !userForm.username.$error.required"></i>
		        </div>
		        <!-- Password -->
		        <div class="item-input app-input item-icon-right" >
	                <input type="password" data-ng-model="login.password" name="password" required ng-pattern="_screenParams.passwordValidation" placeholder="{{'login_password' | translate}}" />
	  				<i class="icon ion-checkmark" ng-show="userForm.password.$valid"></i>
	                <i class="icon ion-close-round" ng-show="userForm.password.$invalid && !userForm.password.$error.required"></i>
		        </div>
		    </form>
		    <!--buttons-->    
		        <div class="row">
			        <div class="col col-50"> 
				        <div class="button"  data-ng-click="clearFields()">
				            <p>{{'login_clean' | translate}}</p>
			        	</div>
		        	</div>
		        	<div class="col col-50"> 
			        	<div class="button"  data-ng-click="userForm.$valid  	&& doLogin()">
			               <p>{{'login_submit' | translate}}</p> 
				    	</div>
		    		</div>
		    	</div>	
		    </div> 
		</div>
    </ion-content>

	<!--<img ng-src="{{_screenParams.companyResource}}" class="fix-content-bottom company-logo"/>-->
</ion-view>