//TESTING


/* Applicacion Styling, here you can define the value for all the application's variables.
   This will propagate the style throughout the application's screens */

// Application background 

$app-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/Artboard-2.png';

// Brand logo 

$app-logo: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-02.svg'; 

/* Text Styling */

//Title color, font and size
$title-color: #ffffff !default; 
$title-font: Arial, Helvetica, sans-serif !default;
$title-size: 24px !default;

//Subtitle color, font and size

$subtitle-color: #ffffff !default; 
$subtitle-font: Arial, Helvetica, sans-serif !default;
$subtitle-size: 20px !default;

//text color, font and size

$text-color: #ffffff !default; 
$text-font: Arial, Helvetica, sans-serif !default;
$text-size: 14px !default;

//Input fields & labels

$input-height: 50px !default; 
$input-border-radius: 4px !default; 
$input-border-width: 1px !default; 
$input-separation: -0.8em !default;
$input-border-color: #ffffff !default;
$input-text-color: #ffffff !default; 

//Input placeholder color

$placeholder-color: #ffffff !important; 

//Top bar (header) color
$top-bar-color: blue !default;

//Bottom bar (footer) color
$bottom-bar-color: blue !default;

//links color 
$link-color: blue !default;  

//Icon size
$icon-size: 200% !default; 



/* LOGIN SPECIFIC VARIABLES */

$login-user-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-04.svg'; 
$login-pwd-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-03.svg'; 
$login-btn-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-05.svg'; 
$dark-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-07.svg';
$signup-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-06.svg';
$welcome-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-08.svg';
$push: 140px; 


/* Mixins */

@mixin standard-background  ($background) {
	background: url($background) no-repeat center;
	background-size: 100%;
}

@mixin standard-placeholder ($color) {
	color: $color;  
    opacity : 1; 
}

@mixin push($n) {
	position:relative; 
	top: $n; 
}

@mixin pull($n) {
	position:relative; 
	bottom: $n; 
}

/* Background and logo classes */

.app-background {
	@include standard-background($app-background);
}

.logo-background {
	@include standard-background($app-logo);
}

.static-background {
	background-position: top center;
	z-index: 2;
    position: absolute; 
}

/* Text classes, overwrite default html tags css*/

p, h5, h6 {
	color: $text-color; 
	font-family: $text-font; 
	font-size: $text-size; 
}

h3, h4 {
	color: $subtitle-color; 
	font-family: $subtitle-font; 
	font-size: $subtitle-size; 
}

h1, h2 {
	color: $title-color; 
	font-family: $title-font; 
	font-size: $title-size; 
}

p,h1,h2,h3,h4,h5,h6 {
	thick {
		font-style:bold; 
	}
}

/* Input fields & labels */

.app-input  {
	height: $input-height; 
	border-radius: $input-border-radius;
	border-width: $input-border-width;
	margin-bottom: $input-separation;
	border: 1px solid $input-border-color;
}

/* Password and input text color */

input[type="text"], input[type="password"] {
  color : $input-text-color; 
}

/* input placeholder */

::-webkit-input-placeholder {
  	@include standard-placeholder($placeholder-color);
}

:-moz-placeholder { /* Firefox 18- */
	@include standard-placeholder($placeholder-color);
}

::-moz-placeholder {  /* Firefox 19+ */
	@include standard-placeholder($placeholder-color);
}

:-ms-input-placeholder {  
	@include standard-placeholder($placeholder-color);
}

/* Icons size */

.icon-size {
	font-size: $icon-size; 
}

/*div wrapping*/

.wrap {
    display: inline-block;
    overflow: hidden;
}

/*------------------------------------------------------------------------*/

/* Login specific CSS*/

 .username-background {
	@include standard-background($login-user-background);
}

 .pwd-background {
	@include standard-background($login-pwd-background);
}

.login-button-background {
	@include standard-background($login-btn-background);
}

 .welcome-background {
	@include standard-background($welcome-background);
	padding-top: 7em;
	padding-bottom: 1em;
}

 .dark-background {
	@include standard-background($dark-background);
	margin-top: -1.5em;
	border-radius: 6px;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

 .push-content {
	@include push($push); 
}

.signup-background {
	@include standard-background($signup-background);
	padding-top:1.2em;
	margin-right: -1em;
	margin-left: -1em;
	margin-top: 0.2em;
}

 .pull-text {
	padding-top:1em;
}

p {
	color: $text-color !important; 
}

 .myPadding {
	padding-top: 5px; 
	padding-bottom: 5px; 
}

 .forgotpwd-text {
	margin-top:2.5em;
}

 .separator {
	@include pull(0.9em);
	display: block;
    height: 0.1em;
    border: 0;
    border-top: 0.15em solid white;
}

.icon {
	color:white; 
}