/*$app-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/Artboard-2.png';
$input-height: 50px !default; 
$input-border-radius: 4px !default; 
$input-border-width: 1px !default; 
$input-separation: -0.8em !default;
$input-border-color: #ffffff !default;
$input-text-color: #ffffff !default; 
$placeholder-color: #ffffff !important; 
$icon-size: 200%; 
$icon-color: white; 

//Resources

$login-user-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-04.svg'; 
$login-pwd-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-03.svg'; 
$login-btn-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-05.svg'; 
$main-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-07.svg';

// Mixins 

@mixin standard-background  ($background) {
	background: url($background) no-repeat center;
	background-size: 100%;
}

@mixin standard-placeholder ($color) {
	color: $color;  
    opacity : 1; 
}


.scroll{ 
    height: 100%;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

// Background and logo classes 

.app-background {
	@include standard-background($app-background);
}


.username-background {
	@include standard-background($login-user-background);
}

.pwd-background {
	@include standard-background($login-pwd-background);
}

.login-button-background {
	@include standard-background($login-btn-background);
}

.main-background {
	@include standard-background($main-background);
	margin-top: -1.5em;
	padding-top: 2em;
	border-radius: 6px;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.app-input  {
	height: $input-height; 
	border-radius: $input-border-radius;
	border-width: $input-border-width;
	margin-bottom: $input-separation;
	border: 1px solid $input-border-color;
}

// div wrapping

.wrap {
    display: inline-block;
    overflow: hidden;
}

.push-content {
	position:relative;
	top: 200px;  
}

.myPadding {
	padding-top: 5px; 
	padding-bottom: 5px; 
}

.icon {
	color: $icon-color; 
	font-size: $icon-size; 
}

.opaque-button {
	opacity: 0.3; 
}

// Password and input text color 

input[type="text"], input[type="password"] {
  color : $input-text-color; 
}

// input placeholder 

::-webkit-input-placeholder {
  	@include standard-placeholder($placeholder-color);
}

::-moz-placeholder {  /* Firefox 19+ 
	@include standard-placeholder($placeholder-color);
}

:-ms-input-placeholder {  
	@include standard-placeholder($placeholder-color);
}*/

