$login-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/Artboard-2.png'; 
$login-user-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-04.svg'; 
$login-pwd-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-03.svg'; 
$login-btn-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-05.svg'; 
$dark-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-07.svg';
$footerbar-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-06.svg';
$welcome-background: 'https://s3.amazonaws.com/megazord-framework/test/digitel-login/RecursosLogin-08.svg';




.loginBackground {
	background: url($login-background) no-repeat center fixed;
	background-size: 100%;
}

.username-background {
	background: url($login-user-background) no-repeat center;
	background-size: 100%;
}

.pwd-background {
	background: url($login-pwd-background) no-repeat center;
	background-size: 100%;
}

.login-button-background {
	background: url($login-btn-background) no-repeat center;
	background-size: 100%;
}

.welcome-background {
	background: url($welcome-background) no-repeat center;
	background-size: 100%;
	padding-top: 6em;
	padding-bottom: 1em;
}


.dark-background {
	background: url($dark-background) no-repeat center;
	background-size: 100%;
	margin-top: -1.5em;
	border-radius: 6px;
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.footer-background {
	background: url($footerbar-background) no-repeat center;
	background-size: 100%;
	padding-top:1.2em;
	margin-right: -1em;
	margin-left: -1em;
}

.button.activated {
	background: url($login-btn-background) no-repeat center;
	background-size: 100%;
}

.scroll{ 
    height: 100%;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}



.digitel-title {
	color:white;
}

.digitel-subtitle {
	color: white; 
	font-size: 24px; 
}

.digitel-text {
	color: white;
	font-size: 0.8em;  
}


.digitel-input {
	height: 50px; 
	border-radius: 6px;
	border-width: 2px !important;
	margin-bottom: -0.7em;
}


.digitel-separator {
	color: white; 
	position:relative;
	bottom:0.8em;
}

.pull-text {
	padding-top:1em;
}

.icon-large {
	font-size: 150%; 
}

.light-text {
	opacity: 0.5; 
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.forgotpwd-text {
	margin-top:2.5em;
}

.footer-text {
	font-size: 1.3em;
	font-style: bold;
}

.myPadding {
	padding-top: 5px; 
	padding-bottom: 5px; 
}

.push-content {
	position:relative; 
	top: 110px; 
}

.wrap {
    display: inline-block;
    overflow: hidden;
}

.login-button-text {
	margin-bottom: -1em !important;
	color:white !important;
}

input[type="text"], input[type="password"] {

  color : #ffffff; 

}


p.thick {
	font-weight: bold;
}

h2.thick {
	font-weight: bold;
}


 
/* Placeholder color text */
::-webkit-input-placeholder {
  	color: white !important;  
    opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
    color: white !important;   
    opacity:1; 
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white !important; 
    opacity:1;  
}

:-ms-input-placeholder {  
    color: white !important;  
    opacity:1; 
}